<div class="head">

<%= image_tag "Telephone Book - MarkMaker Logo.svg", size: "202x190", alt: "telephone",class:"header-img" %>
  <div class="header-content">
    <h1>Telephone Book application</h1>
    <p>友達の名前と電話番号を登録する<br>アプリケーションです</p>
</div>


</div>
