<%= image_tag "Telephone Book - MarkMaker Logo.svg", size: "202x198", alt: "Morning Glory" %>
<h1>Telephone Book aplication</h1>
<!--<nav class="menubar">-->
<!--  <ul>-->
    <%#= menu_link_to "TOP", :root %>
<!--  </ul>-->
<!--</nav>-->
