

<h2>画像の出典</h2>
<ul id = menue>
  <% 1.times do |i| %>
    <li><%= link_to "pakutaso", "https://www.pakutaso.com/" %></li>
  <% end %>
</ul>

<h2>ロゴ</h2>
<ul id = menue>
  <% 1.times do |i| %>
    <li><%= link_to "MarkerMarkerfm", "http://emblemmatic.org/markmaker/#/" %></li>
  <% end %>
</ul>
