<h2 class="side_h">ヘッダー</h2>
<ul class="side_list">
  <li><%= link_to "pakutaso", "https://www.pakutaso.com/" %></li>
</ul>
<h2 class="side_h">ロゴ</h2>
<ul class="side_list">
  <li><%= link_to "MarkerMarkerfm", "http://emblemmatic.org/markmaker/#/" %></li>
</ul>
<h2 class="side_h">背景</h2>
<ul class="side_list">
  <li><%= link_to "イラスト工房", "http://www7b.biglobe.ne.jp/~yyyy/irustKA.html" %></li>
</ul>
<h2 class="side_h">アイコン</h2>
<ul class="side_list">
  <li><%= link_to "いらすとや", "https://www.irasutoya.com/" %></li>
</ul>
