/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* ページ全体 */
body {
    font-size: large;
  background-color: floralwhite;
  margin: 0; padding: 0;
    background-image: url("PKbokeIMGP04951674_TP_V.jpg");
    background-repeat: repeat;
    background-size: cover;
    background-attachment: fixed;
}

/* リンク */
a:link { color: #00c; }
a:visited { color: #00c; }
a:hover { color: #f00; }
a img { border: none; }

/* ブロック要素 */
p, h1, h2, h3, table, ul {
  margin: 0 0 1em;
}

/* ナビゲーション */
nav ul,
ul.toolbar,
ul.links {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li,
div.toolbar li,
ul.toolbar li,
ul.links li {
  display: inline;
}

/* 全体の枠 */
div#container {
  margin: 0 auto;
  padding-top: 5px;
  width: 780px;
}

/* 左の枠（コンテンツを入れる） */
main {
  float: left;
  width: 530px;
  padding: 10px 10px 10px 0;
}

/* 右の枠（サイドバーを入れる） */
aside#sidebar {
  float: left;
  width: 230px;
    height: 1000px;
  background-color: #faf1e9;
  padding: 5px;
  font-size: 86%;
}

/* ヘッダー */
header {
    color: white;
    font-family: 'Caveat', cursive;
  border-bottom: 5px solid #171111;
  padding-top: 4px;
    background-image: url("171030ell_DSC1941_TP_V4.jpg");
}

ul.account-menu {
  text-align: right;
}

/* フッター */
footer {
  clear: both;
  font: 11px Verdana;
  color: #888;
  padding: 8px 0;
  border-top: 4px solid #6bb;
  text-align: center;
}

footer nav ul li:not(:last-child):after {
  color: #888;
  content: " | ";
  margin: 0 5px;
}

/* メニューバー */
nav.menubar {
  padding: 2px;
  background-color: #000;
  color: #ccc;
  font-size: 80%;
  padding: 8px 16px;
}

nav.menubar ul li:not(:last-child):after {
  color: #ccc;
  content: " | ";
  margin: 0 2px;
}

/* メニューバーのリンク */
nav.menubar a { text-decoration: none; }

/* メニューバーのリンク（未訪問） */
nav.menubar a:link { color: #ccc; }

/* メニューバーのリンク（訪問済） */
nav.menubar a:visited { color: #ccc; }

/* メニューバーのリンク（マウスを合わせたとき） */
nav.menubar a:hover {
  color: #f88;
  text-decoration: underline;
}

/* メニューバーのリンク（現在のページ） */
nav.menubar span {
  color: #ff8;
  font-weight: bold;
}

/* メインコンテンツ */
main h1 {
  color: #212123;
  font-weight: normal;
  font-size: 150%;
  border-bottom: 5px solid #c288cc;
  margin-bottom: 0.5em;
}

main h2 {
  color: #131211;
  font-weight: bold;
  font-size: 130%;
  margin-bottom: 0.5em;
  border-bottom: 5px solid #ccf;
  font-family: Serif;
}

main p {
  font-size: 90%;
  line-height: 1.5;
}

ul.toolbar,
div.toolbar {
  padding: 15px 0;
  font-size: 90%;
  text-align: right;
}

ul.toolbar li:not(:last-child):after {
  color: #888;
  content: " | ";
  margin: 0 2px;
}

/* サイドバー */
form#login-form {
  font-size: 12px;
}

form#login-form div {
  padding: 2px;
  text-align: center;
}

form#login-form label {
  display: inline-block;
  width: 80px;
  text-align: center;
}

form#login-form input[type="text"],
form#login-form input[type="password"] {
  width: 120px;
}

aside#sidebar h2 {
  color: #080;
  font-weight: bold;
  border-bottom: 1px dotted #080;
  margin-bottom: 0.5em;
  font-size: 100%;
}

aside#sidebar ul {
  padding-left: 1em;
  list-style-type: none;
}

aside#sidebar li {
  margin-bottom: 0.3em;
}

*:before,
*:after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.hoge{
    width: 100px;
    box-sizing: border-box;
    border: 1px solid #68779a;
    color: white;
    background-color: #ef8b49;
    display:inline-block
}
.hoge:hover{
    color: white;
    background: #ecc4aa;
}
.button{

}
div.area{
    text-align:end;

}
div.show{
    text-align:end;

}
.teledele{
    width: 100px;
    box-sizing: border-box;
    border: 1px solid #68779a;
    color: white;
    background-color: #f5a46c;
    display:inline-block
}
.teledele:hover{
    color: white;
    background: #acd1f8;
}
ol {
    padding: 0;
    position: relative;
}

ol li {
    font-size: large;
    border-left: solid 6px #fa3807;/*左側の線*/
    background: #f6eef5;/*背景色*/
    margin-bottom: 3px;/*下のバーとの余白*/
    line-height: 1.5;
    padding: 0.5em;
    list-style-type: none!important;/*ポチ消す*/
}

/*ul{*/
/*    background-color: #ebebf8;*/
/*    color: #1e366a;*/
/*    border: dotted #1e366a 1px;!*ドット 色 太さ*!*/
/*    padding: 0.5em 0.5em 0.5em 2em;*/
/*}*/

/*li{*/

/*    line-height: 1.5;*/
/*    padding: 0.5em 0;*/
/*}*/
ul {
    padding: 0;
}

ul li {
    font-size: large;
    position: relative;
    list-style-type: none!important;/*ポチ消す*/
    padding: 0.5em 0.5em 0.5em 0.5em;
    margin-bottom: 5px;
    line-height: 1.5;
    background: #fadecb;
    vertical-align: middle;
    color: #505050;
    border-radius: 15px 0px 0px 15px;/*左側の角丸く*/
}

ul li:before{
    display:inline-block;
    vertical-align: middle;
    /*以下白丸つくる*/
    content:'';
    width:1em;
    height: 1em;
    background: #fff;
    border-radius: 50%;
    margin-right: 8px;
}
input[type="submit"] {
    width: 20%;
    font-size: 15px;
    color: #fff;
    display: inline-block;
    padding: 15px 0px;
    text-align: center;
    background-color: #e7ad80;
    border: 1px solid #5c87a6;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 1s;
}

/*--hover--*/
input[type="submit"]:hover {
    color: #e7ad80;
    background-color: #ffffff;
    border: 1px solid #5c87a6;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 1s;
}
input[type="submit"].sub {
    width: 20%;
    font-size: 15px;
    color: #fff;
    display: inline-block;
    padding: 15px 0px;
    text-align: center;
    background-color: #e78089;
    border: 1px solid #5c87a6;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 1s;
}

/*--hover--*/
input[type="submit"]:hover.sub {
    color: #e7808f;
    background-color: #ffffff;
    border: 1px solid #5c87a6;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 1s;
}