/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* ページ全体 */
body {
    font-family: serif;
    counter-reset: list;
    font-size: large;
    background-color: #fceddc;
    margin: 0;
    padding: 0;
    background-image: url("bgr7A.jpg");
    background-repeat: repeat;
    background-size: cover;
    background-attachment: fixed;
}

/* リンク */
a:link {
    color: #00c;
}

a:visited {
    color: #00c;
}

a:hover {
    color: #f00;
}

a img {
    border: none;
}

/* ブロック要素 */
p, h1, h2, h3, table, ul {
    margin: 0 0 1em;
}


/* 全体の枠 */
div#container {
    margin: 0 auto;
    padding-top: 5px;
    width: 780px;
}

/* 左の枠（コンテンツを入れる） */
main {
    float: left;
    width: 530px;
    padding: 10px 10px 10px 0;
}

/* 右の枠（サイドバーを入れる） */
aside#sidebar {
    background-color: #fff2e8;
    float: left;
    width: 250px;
    height: 1000px;
    padding: 5px;
    font-size: 86%;
}

/* ヘッダー */
header {
    color: white;
    font-family: 'Caveat', cursive;
    border-bottom: 5px solid #171111;
    padding-top: 4px;
    background-image: url("glasses-gfa7211b11_640 2.jpg");
    background-size: cover;
}


/* フッター */
footer {
    clear: both;
    font: 11px Verdana;
    color: #888;
    padding: 8px 0;
    border-top: 4px solid #f5a687;
    text-align: center;
}

footer nav ul li:not(:last-child):after {
    color: #888;
    content: " | ";
    margin: 0 5px;
}


/* メインコンテンツ */
main h1 {
    color: #212123;
    font-weight: normal;
    font-size: 150%;
    border-bottom: 5px solid #c288cc;
    margin-bottom: 0.5em;
}

main h2 {
    text-align: center;
    position: relative;
    margin-top: 10px;
    padding: 0.5em 1.5em;
    border-top: solid 2px #ef7d44;
    border-bottom: solid 2px #ef7d44;
}


main h2 {
    color: #f69261;
    border-bottom: solid 2px #ef552f;
}


main p {
    font-size: 90%;
    line-height: 1.5;
}


div.area {

    text-align: end;
}

div.show {
    text-align: end;

}

.teledele {
    width: 100px;
    box-sizing: border-box;
    border: 1px solid #68779a;
    color: white;
    background-color: #f5a46c;
    display: inline-block
}

.teledele:hover {
    color: white;
    background: #acd1f8;
}

ol {
    background-color: #fff0eb;
    list-style-type: none;
    padding: 10px;
    border: solid 1px #ef7841;
}

ol li {
    position: relative;
    line-height: 30px;
    margin: 7px 0 7px 40px;
    padding-left: 10px;
    font-weight: bold;
}

ol li:before {
    counter-increment: list;
    content: counter(list);
    position: absolute;
    left: -35px;
    width: 30px;
    height: 30px;
    background: #fdb994;
    text-align: center;
    color: #fff;
    top: 50%;
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

ul.tel li {
    list-style-type: none
}

.telbox {
    justify-content: space-between;
}

.list-item {
    display: flex;
    /*justify-content: space-between;*/
}

.right {
    /*justify-content: end;*/
    margin-left: auto;
}

ul.list {
    padding: 10px;
}

ul.list li {
    font-size: large;
    position: relative;
    list-style-type: none !important; /*ポチ消す*/
    padding: 0.5em 1.0em 1.0em 1.0em;
    margin-bottom: 5px;
    line-height: 2.0;
    background: #fae8e4;
    color: #505050;
    border-radius: 15px 0px 0px 15px; /*左側の角丸く*/
}

ul.list li:before {
    display: inline-block;
    /*以下白丸つくる*/
    content: '';
    width: 1em;
    height: 1em;
    background: #fff;
    border-radius: 50%;
    margin-top: 10px;
    margin-right: 8px;
}

.new {
    display: flex;

}

input[type="submit"].sub:hover {
    color: #e7ad80;
    background-color: #d91111;
    border: 1px solid #5c87a6;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 1s;
}

input[type="submit"].sub {
    width: 10%;
    font-size: 15px;
    color: #fff;
    display: inline-block;
    padding: 10px 0px;
    text-align: center;
    background-color: #e78089;
    border: 1px solid #5c87a6;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 1s;
}


.conteiner {
    display: flex;
    justify-content: flex-end;
}

.index {
    display: flex;
    justify-content: space-between;
}

.new-save {
    padding-top: 17px;
    padding-left: 10px;
}

.name-field {
    padding-top: 20px;
}

.hoge {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    height: 35px;
    transition: all 0.5s;
    margin: 2px;
    width: 70px;
    box-sizing: border-box;
    border: 1px solid #68779a;
    color: #faefe7;
    background-color: #f38e35;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all 0.3s;
    vertical-align: middle;
    letter-spacing: 0.1em;
    border-radius: 0.5rem;
}

input[type="text"] {
    width: 200px;
    height: 30px;
}

input[type="text"] :invalid {
    border: solid 7px red;
    background-color: red;
}

.hoge:hover {
    color: #f5702a;
    background: #f8d4c1;
}

/* 元のチェックボックスを表示しない */
.chkbox input[type=checkbox] {
    transform: scale(2);
    margin: 10px 6px 10px 14px;
}


.link {
    display: inline-block;
    padding: 0.1em 0.3em;
    transition: all .3s;
}

.link:hover {
    color: #fff;
    background-color: #f38a60;
}

.top {
    padding-top: 100px;
    font-size: large;

}

.name {

}

.new_msg {
    padding: 10px;
    background-color: #f8eee8;
    padding: 0.5em 1em;
    margin: 2em 0;
    font-weight: bold;
    color: #f3875c; /*文字色*/
    border: solid 3px #f5956e; /*線*/
    border-radius: 10px; /*角の丸み*/
}


div.toolbar {
    padding: 15px 0;
    font-size: 90%;
    text-align: right;
}

ul.toolbar li:not(:last-child):after {
    color: #888;
    content: " | ";
    margin: 0 2px;
}

.notice {
    font-size: 20px;
    background-color: #fff5ee;
    border: solid 3px #fca170; /*線*/
    border-radius: 10px; /*角の丸み*/
    padding: 15px;
    margin: 0 0 1em;
    color: #f17533;
    text-align: center;
}

div.field_with_errors {
    background-color: #ff0000;
    padding: 2px;
}

ul.side_list {
    counter-reset: list;
    list-style-type: none;
    padding: 0;
}

ul.side_list li {
    position: relative;
    padding: 0 0 0 20px;
    margin: 7px 0 7px 0px;
    font-weight: bold;
    font-size: 14px;
    line-height: 30px;
    border-bottom: dashed 1px #F6A38B;
}

ul.side_list li:before {
    counter-increment: list;
    content: "";
    display: block;
    position: absolute;
    left: 0px;
    height: 0;
    width: 0;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 7px solid #f38b6c;
    top: 50%;
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.side_h {
    margin-top: 10px;
    color: #fc976a; /*文字色*/
    border-bottom: solid;
    padding: 0.5em; /*文字周りの余白*/
    font-weight: bold;
    margin-bottom: 0.5em;
    font-size: 100%;
}

.cellphone {
    margin-bottom: 10px;
}

.head {
    position: relative;
}

#telephone_number-error, #friend_name-error {
    color: red;
}