/* エラー表示 */
div#errors {
    color: red;
  background-color: #ffeeef;
    border: solid 3px #fca170;/*線*/
    border-radius: 10px;/*角の丸み*/
  padding: 15px;
  margin: 0 0 1em;
}

div#errors h2 {
  font-size: 90%;
  color: red;
  margin: 0 0 4px;
  border: none;
}

div#errors ul {
  margin: 0;
  padding-left: 1.5em;
}

div.field_with_errors input{
    background-color: #f8c9c9;
  padding: 2px;
}
#friend_name.invalid {
   border: #ea352d 5px solid;
 }
#friend_name.valid {
    border: seagreen 3px solid;
}